<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="org.wegscd">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Routing name="MyRoute">
            <TimeIsSetFilter/>
            <Routes pattern="x">
                <Route>
                    <File name="MyFile" createOnDemand="true" fileName="log-${date:yyyy_MM_dd HH.mm.ss}.log">
                        <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <!--
        <DriverStation_v1 name="DS1"/>
        <DriverStation_v2 name="DS2"/>
        -->
        <StringAppender name="SA"/>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyRoute"/>
            <!--
                        <AppenderRef ref="DS1"/>
                        <AppenderRef ref="DS2"/>
                        -->
            <AppenderRef ref="SA"/>
        </Root>
    </Loggers>
</Configuration>